@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header class="row ">
        <div class="col-sm border m-3"></div>
        <div class="col-sm border m-3"></div>
        <div class="col-sm border m-3"></div>
    </header>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi blanditiis dolorum dicta ducimus asperiores, quos tempora aut quasi itaque vel repudiandae, molestiae nulla laboriosam autem corrupti alias nobis voluptas? Dolor?</p>
    </section>
    <h1 class="display-4">Build It</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
